@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white; }

body {
  background-image: url(../assets/pexels-tima-miroshnichenko-5846122.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.2em;
  font-family: 'Playfair Display', serif; }

/*---------------Cabezera general-----------*/
header nav {
  background-color: rgba(0, 0, 0, 0.671); }
  header nav .logo {
    border-radius: 50%; }
  header nav .a {
    color: white; }
  header nav .link a {
    text-decoration: none; }

header .primerT {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  margin-top: 10%;
  /*----------------------responsive--------------------*/
  /*---------------------------final----------------------*/ }
  header .primerT h1 {
    font-size: 6em;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-family: 'Playfair Display', serif;
    text-align: center; }
  @media screen and (max-width: 768px) {
    header .primerT h1 {
      font-size: 3em; }
    header .primerT .contenido {
      flex-wrap: wrap-reverse; } }

/*------------------final-----------------*/
/*------------------CSS ganeral-----------------*/
main .my-container-fluid {
  padding-right: 0;
  padding-left: 0; }
  main .my-container-fluid .contenido {
    background: #5d5d5d;
    background: linear-gradient(0deg, rgba(93, 93, 93, 0.860382) 0%, rgba(0, 0, 0, 0.891194) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 0%; }
    main .my-container-fluid .contenido p {
      margin: 4%;
      text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000; }
    main .my-container-fluid .contenido img {
      margin: 4%;
      width: 50%;
      border-radius: 20px; }

.footer {
  background-color: rgba(0, 0, 0, 0.671);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6%; }

.servicios {
  color: red; }

/*----------------------------final---------------------------*/
/*----------------------------galeria--------------------------*/
main .FG {
  background: #5d5d5d;
  background: linear-gradient(0deg, rgba(93, 93, 93, 0.860382) 0%, rgba(0, 0, 0, 0.891194) 100%);
  border-radius: 30px; }
  main .FG img {
    margin: 4%;
    width: 100%;
    border-radius: 20px; }

/*----------------------------final---------------------------*/
/*----------------------------form---------------------------*/
main h2 {
  text-align: center;
  margin: 4%; }

main .form {
  padding: 5%;
  background: #5d5d5d;
  background: linear-gradient(0deg, rgba(93, 93, 93, 0.860382) 0%, rgba(0, 0, 0, 0.891194) 100%);
  display: flex;
  align-items: center;
  justify-content: center; }

iframe {
  width: 100%; }

/*----------------------------form---------------------------*/
